# VS Code files
.vscode/.ropeproject/
*.code-workspace

# build / release files
pom.xml.releaseBackup
target/
dist/

# link to a custom "black" environment supporting Python2 formatting:
.black-python2

# Python venvs:
venv/
